@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Heavy.eot');
  src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Heavy.woff') format('woff'), url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: local('Futura PT Medium'), local('FuturaPT-Medium'), url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Medium.woff') format('woff'), url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-MediumObl.eot');
  src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'), url('../fonts/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-MediumObl.woff') format('woff'), url('../fonts/FuturaPT-MediumObl.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/FuturaPTCond-Medium.eot');
  src: local('Futura PT Cond Medium'), local('FuturaPTCond-Medium'), url('../fonts/FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-Medium.woff') format('woff'), url('../fonts/FuturaPTCond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-LightObl.eot');
  src: local('Futura PT Light Oblique'), local('FuturaPT-LightObl'), url('../fonts/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-LightObl.woff') format('woff'), url('../fonts/FuturaPT-LightObl.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/FuturaPT-Book.eot');
  src: local('Futura PT Book'), local('FuturaPT-Book'), url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Book.woff') format('woff'), url('../fonts/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/FuturaPTCond-Bold.eot');
  src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'), url('../fonts/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-Bold.woff') format('woff'), url('../fonts/FuturaPTCond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/FuturaPT-BookObl.eot');
  src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'), url('../fonts/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-BookObl.woff') format('woff'), url('../fonts/FuturaPT-BookObl.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url('../fonts/FuturaPTCond-ExtraBoldObl.eot');
  src: local('Futura PT Cond Extra Bold Oblique'), local('FuturaPTCond-ExtraBoldObl'), url('../fonts/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-ExtraBoldObl.woff') format('woff'), url('../fonts/FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Light.eot');
  src: local('Futura PT Light'), local('FuturaPT-Light'), url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Light.woff') format('woff'), url('../fonts/FuturaPT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-BoldObl.eot');
  src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'), url('../fonts/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-BoldObl.woff') format('woff'), url('../fonts/FuturaPT-BoldObl.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('../fonts/FuturaPT-DemiObl.eot');
  src: local('Futura PT Demi Oblique'), local('FuturaPT-DemiObl'), url('../fonts/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-DemiObl.woff') format('woff'), url('../fonts/FuturaPT-DemiObl.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url('../fonts/FuturaPTCond-ExtraBold.eot');
  src: local('Futura PT Cond Extra Bold'), local('FuturaPTCond-ExtraBold'), url('../fonts/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-ExtraBold.woff') format('woff'), url('../fonts/FuturaPTCond-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('../fonts/FuturaPT-Demi.eot');
  src: local('Futura PT Demi'), local('FuturaPT-Demi'), url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Demi.woff') format('woff'), url('../fonts/FuturaPT-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-HeavyObl.eot');
  src: local('Futura PT Heavy Oblique'), local('FuturaPT-HeavyObl'), url('../fonts/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-HeavyObl.woff') format('woff'), url('../fonts/FuturaPT-HeavyObl.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url('../fonts/FuturaPT-ExtraBoldObl.eot');
  src: local('Futura PT Extra Bold Oblique'), local('FuturaPT-ExtraBoldObl'), url('../fonts/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-ExtraBoldObl.woff') format('woff'), url('../fonts/FuturaPT-ExtraBoldObl.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url('../fonts/FuturaPTCond-Book.eot');
  src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'), url('../fonts/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-Book.woff') format('woff'), url('../fonts/FuturaPTCond-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Bold.eot');
  src: local('Futura PT Bold'), local('FuturaPT-Bold'), url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Bold.woff') format('woff'), url('../fonts/FuturaPT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url('../fonts/FuturaPT-ExtraBold.eot');
  src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'), url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-ExtraBold.woff') format('woff'), url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/FuturaPTCond-BoldObl.eot');
  src: local('Futura PT Cond Bold Oblique'), local('FuturaPTCond-BoldObl'), url('../fonts/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-BoldObl.woff') format('woff'), url('../fonts/FuturaPTCond-BoldObl.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/FuturaPTCond-MediumObl.eot');
  src: local('Futura PT Cond Medium Oblique'), local('FuturaPTCond-MediumObl'), url('../fonts/FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-MediumObl.woff') format('woff'), url('../fonts/FuturaPTCond-MediumObl.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url('../fonts/FuturaPTCond-BookObl.eot');
  src: local('Futura PT Cond Book Oblique'), local('FuturaPTCond-BookObl'), url('../fonts/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-BookObl.woff') format('woff'), url('../fonts/FuturaPTCond-BookObl.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo > svg {
  width: 8rem;
}

.logo > div {
  margin-left: 2rem;
}

.logo__title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px #544061;
}

.logo__subtitle {
  font-family: "Futura PT Book", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1em;
}

#checkbox-menu {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: inherit, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  position: relative;
  padding: 1.3rem 7%;
  color: #4f405f;
  height: 12rem;
  /**
      appear in mobile version
   */
}

header > nav {
  width: 100%;
  height: auto;
  margin: 0 3%;
}

header > nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header > nav ul > li:first-child {
  display: none;
}

header > nav ul > li:first-child > input {
  color: white;
  border-radius: 2rem;
  outline: none;
  border: none;
  width: 100%;
  height: 8rem;
  background-color: #5f5988;
  padding: 0 2.5rem;
  font-family: "Futura PT", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
}

header > nav ul > li:last-child > a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header > nav ul > li:last-child > a > svg {
  width: 2.5rem;
  height: 2.7rem;
}

header > nav ul > li:last-child > a > span {
  margin-left: 1.5rem;
}

header > nav ul > li > a {
  color: #4f405f;
}

header .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

header .contacts__phone {
  font-family: "Futura PT", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}

header .contacts__note {
  font-family: "Futura PT Book", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
}

header #logo-white,
header #close-icon,
header #menu-icon,
header #phone-icon {
  display: none;
}

header #menu-icon,
header #phone-icon {
  width: 6rem;
  height: auto;
}

header #close-icon {
  width: 4rem;
  height: auto;
  fill: white;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

#checkbox-menu:checked + header {
  background-color: #302a56;
  justify-content: flex-start;
  font-size: 3rem;
}

#checkbox-menu:checked + header #menu-icon,
#checkbox-menu:checked + header #phone-icon,
#checkbox-menu:checked + header #logo {
  display: none;
}

#checkbox-menu:checked + header #logo-white,
#checkbox-menu:checked + header #close-icon {
  display: block;
}

#checkbox-menu:checked + header .logo {
  margin: 0 auto;
}

#checkbox-menu:checked + header .logo__title {
  color: white;
}

#checkbox-menu:checked + header ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 12rem;
  margin: 0;
  padding: 0;
  background-color: #302a56;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#checkbox-menu:checked + header ul > li {
  width: 100%;
  line-height: 8rem;
  padding: 0 7%;
}

#checkbox-menu:checked + header ul > li > input {
  display: block;
}

#checkbox-menu:checked + header ul > li > a {
  color: white;
}

#checkbox-menu:checked + header ul > li:nth-child(2) {
  margin-top: 5rem;
}

#checkbox-menu:checked + header ul > li:last-child {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "futura", sans-serif;
  font-size: 10px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  header > nav ul > li:nth-child(6) {
    margin-left: 11.5%;
  }
}

@media (max-width: 1919px) {
  html,
  body {
    font-size: 9px;
  }
}

@media (max-width: 1620px) {
  html,
  body {
    font-size: 8px;
  }
}

@media (max-width: 1440px) {
  html,
  body {
    font-size: 7px;
  }
}

@media (max-width: 1280px) {
  html,
  body {
    font-size: 6px;
  }
}

@media (max-width: 1024px) {
  html,
  body {
    font-size: 5px;
  }
}

@media (max-width: 768px) {
  .logo > svg {
    width: 6rem;
  }

  .logo__title {
    font-size: 4rem;
  }

  .logo__subtitle {
    display: none;
  }

  header > nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    order: -1;
    margin: 0;
  }

  header > nav ul {
    display: none;
  }

  header > nav ul > li:first-child {
    display: block;
  }

  header .contacts {
    display: none;
  }

  header #menu-icon,
  header #phone-icon {
    display: block;
  }

  html,
  body {
    font-size: 10px;
  }
}

@media (max-width: 713px) {
  html,
  body {
    font-size: 9px;
  }
}

@media (max-width: 676px) {
  html,
  body {
    font-size: 8px;
  }
}

@media (max-width: 636px) {
  html,
  body {
    font-size: 7px;
  }
}

@media (max-width: 487px) {
  html,
  body {
    font-size: 6px;
  }
}

@media (max-width: 414px) {
  html,
  body {
    font-size: 5px;
  }
}

@media (max-width: 334px) {
  html,
  body {
    font-size: 4px;
  }
}

@media (max-width: 300px) {
  html,
  body {
    font-size: 3px;
  }
}