@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Heavy.eot');
  src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Heavy.woff') format('woff'), url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: local('Futura PT Medium'), local('FuturaPT-Medium'), url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Medium.woff') format('woff'), url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-MediumObl.eot');
  src: local('Futura PT Medium Oblique'), local('FuturaPT-MediumObl'), url('../fonts/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-MediumObl.woff') format('woff'), url('../fonts/FuturaPT-MediumObl.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/FuturaPTCond-Medium.eot');
  src: local('Futura PT Cond Medium'), local('FuturaPTCond-Medium'), url('../fonts/FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-Medium.woff') format('woff'), url('../fonts/FuturaPTCond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-LightObl.eot');
  src: local('Futura PT Light Oblique'), local('FuturaPT-LightObl'), url('../fonts/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-LightObl.woff') format('woff'), url('../fonts/FuturaPT-LightObl.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/FuturaPT-Book.eot');
  src: local('Futura PT Book'), local('FuturaPT-Book'), url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Book.woff') format('woff'), url('../fonts/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/FuturaPTCond-Bold.eot');
  src: local('Futura PT Cond Bold'), local('FuturaPTCond-Bold'), url('../fonts/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-Bold.woff') format('woff'), url('../fonts/FuturaPTCond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/FuturaPT-BookObl.eot');
  src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'), url('../fonts/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-BookObl.woff') format('woff'), url('../fonts/FuturaPT-BookObl.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url('../fonts/FuturaPTCond-ExtraBoldObl.eot');
  src: local('Futura PT Cond Extra Bold Oblique'), local('FuturaPTCond-ExtraBoldObl'), url('../fonts/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-ExtraBoldObl.woff') format('woff'), url('../fonts/FuturaPTCond-ExtraBoldObl.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Light.eot');
  src: local('Futura PT Light'), local('FuturaPT-Light'), url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Light.woff') format('woff'), url('../fonts/FuturaPT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-BoldObl.eot');
  src: local('Futura PT Bold Oblique'), local('FuturaPT-BoldObl'), url('../fonts/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-BoldObl.woff') format('woff'), url('../fonts/FuturaPT-BoldObl.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('../fonts/FuturaPT-DemiObl.eot');
  src: local('Futura PT Demi Oblique'), local('FuturaPT-DemiObl'), url('../fonts/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-DemiObl.woff') format('woff'), url('../fonts/FuturaPT-DemiObl.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Extra';
  src: url('../fonts/FuturaPTCond-ExtraBold.eot');
  src: local('Futura PT Cond Extra Bold'), local('FuturaPTCond-ExtraBold'), url('../fonts/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-ExtraBold.woff') format('woff'), url('../fonts/FuturaPTCond-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('../fonts/FuturaPT-Demi.eot');
  src: local('Futura PT Demi'), local('FuturaPT-Demi'), url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Demi.woff') format('woff'), url('../fonts/FuturaPT-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-HeavyObl.eot');
  src: local('Futura PT Heavy Oblique'), local('FuturaPT-HeavyObl'), url('../fonts/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-HeavyObl.woff') format('woff'), url('../fonts/FuturaPT-HeavyObl.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url('../fonts/FuturaPT-ExtraBoldObl.eot');
  src: local('Futura PT Extra Bold Oblique'), local('FuturaPT-ExtraBoldObl'), url('../fonts/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-ExtraBoldObl.woff') format('woff'), url('../fonts/FuturaPT-ExtraBoldObl.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url('../fonts/FuturaPTCond-Book.eot');
  src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'), url('../fonts/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-Book.woff') format('woff'), url('../fonts/FuturaPTCond-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Bold.eot');
  src: local('Futura PT Bold'), local('FuturaPT-Bold'), url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Bold.woff') format('woff'), url('../fonts/FuturaPT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url('../fonts/FuturaPT-ExtraBold.eot');
  src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'), url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-ExtraBold.woff') format('woff'), url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/FuturaPTCond-BoldObl.eot');
  src: local('Futura PT Cond Bold Oblique'), local('FuturaPTCond-BoldObl'), url('../fonts/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-BoldObl.woff') format('woff'), url('../fonts/FuturaPTCond-BoldObl.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/FuturaPTCond-MediumObl.eot');
  src: local('Futura PT Cond Medium Oblique'), local('FuturaPTCond-MediumObl'), url('../fonts/FuturaPTCond-MediumObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-MediumObl.woff') format('woff'), url('../fonts/FuturaPTCond-MediumObl.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url('../fonts/FuturaPTCond-BookObl.eot');
  src: local('Futura PT Cond Book Oblique'), local('FuturaPTCond-BookObl'), url('../fonts/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPTCond-BookObl.woff') format('woff'), url('../fonts/FuturaPTCond-BookObl.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

#checkbox-menu,
#logo-white-icon,
#menu-white-icon,
#menu-common-icon,
#phone-icon {
  display: none;
}

#menu-common-icon,
#phone-icon {
  width: 2em;
}

#menu-white-icon {
  width: 1.8em;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 14.5em;
}

.logo > img {
  width: 2.5em;
  height: 2.5em;
}

.logo__inner {
  margin-left: 0.8em;
}

.logo__title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

.logo__subtitle {
  font-family: "Futura PT Book", sans-serif;
  font-size: 0.83em;
  font-weight: 300;
  line-height: 1em;
  margin-top: 0.2em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: inherit, sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  position: relative;
  padding: 1.1em 6.9%;
  color: #4f405f;
}

.header a {
  color: #4f405f;
}

.header > nav {
  width: 100%;
  padding: 0 1.7em 0 1.9em;
}

.header__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  letter-spacing: -1px;
  margin: 0 5%;
}

.header__items > li:first-child {
  display: none;
  position: relative;
  margin-top: 1em;
}

.header__items > li:first-child > img {
  position: absolute;
  top: 0.6em;
  left: 1em;
  width: 1.4em;
}

.header__items > li:first-child > input {
  font-family: "Futura PT Book", sans-serif;
  font-size: 1em;
  font-weight: 500;
  background: #5f5988 url(../img/search-white.svg) no-repeat left 1em center;
  background-size: 1.4em;
  outline: none;
  border: none;
  color: white;
  padding: 0.6em 3.1em;
  border-radius: 2em;
  width: 100%;
}

.header__items > li:first-child > input:focus {
  padding-left: 2em;
  padding-right: 2em;
  background-image: none;
}

.header__items > li:first-child > input:focus::-moz-placeholder {
  visibility: hidden;
  color: #a5a2bc;
}

.header__items > li:first-child > input:focus:-ms-input-placeholder {
  visibility: hidden;
  color: #a5a2bc;
}

.header__items > li:first-child > input:focus::-ms-input-placeholder {
  visibility: hidden;
  color: #a5a2bc;
}

.header__items > li:first-child > input:focus::placeholder {
  visibility: hidden;
  color: #a5a2bc;
}

.header__items > li:nth-child(5) {
  margin-right: 6.9em;
}

.header__items > li:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header__items > li:last-child > img {
  width: 1.3em;
}

.header__items > li:last-child > span {
  margin-left: 1em;
}

.header__contacts {
  white-space: nowrap;
  line-height: 1em;
}

.header__contacts-number {
  font-family: inherit, sans-serif;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 0;
}

.header__contacts-description {
  font-family: "Futura PT Book", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
}

#checkbox-menu:checked + header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #302a56;
  color: white;
}

#checkbox-menu:checked + header #logo-common-icon,
#checkbox-menu:checked + header #menu-common-icon,
#checkbox-menu:checked + header #phone-icon {
  display: none;
}

#checkbox-menu:checked + header #logo-white-icon,
#checkbox-menu:checked + header #menu-white-icon {
  display: block;
}

#checkbox-menu:checked + header #menu-white-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.4em;
  margin: auto 0 auto 4rem;
}

#checkbox-menu:checked + header > nav {
  font-family: "Futura PT Book", sans-serif;
  font-size: 1em;
  font-weight: 400;
  display: block;
  position: absolute;
  background-color: #302a56;
  top: 9.1rem;
  left: 0;
}

#checkbox-menu:checked + header .header__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: inherit, sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 0.6em;
}

#checkbox-menu:checked + header .header__items > li {
  width: 100%;
  letter-spacing: 1px;
}

#checkbox-menu:checked + header .header__items > li:first-child {
  display: block;
}

#checkbox-menu:checked + header .header__items > li:nth-child(2) {
  margin-top: 1.2em;
}

#checkbox-menu:checked + header .header__items > li:last-child {
  display: none;
}

#checkbox-menu:checked + header .header__items a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.7em 0;
}

.cloud {
  position: absolute;
  width: 100rem;
  top: -18rem;
  right: -3rem;
  z-index: -1;
}

.cloud-mob {
  display: none;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 83rem;
}

.header-section__block {
  height: 34.5rem;
  width: 60rem;
  margin-bottom: 8rem;
}

.header-section__block-subtitle {
  text-transform: uppercase;
  font-size: 2rem;
}

.header-section__block-title {
  font-weight: 300;
  font-size: 8rem;
  letter-spacing: -2px;
  line-height: 0.8em;
  margin-top: 1rem;
}

.header-section__block-description {
  font-family: "Futura PT Book", sans-serif;
  font-size: 2.7rem;
  font-weight: 500;
  margin-top: 3.2rem;
  line-height: 1em;
}

.header-section__block-btn {
  margin-top: 5.4rem;
  font-size: 1.9rem;
}

.mob-clinic {
  display: none;
}

.list__header {
  font-family: "Futura PT", sans-serif;
  font-size: 1em;
  font-weight: 500;
  display: grid;
  grid-template-areas: "subtitle choice" "title    choice";
}

.list__subtitle {
  grid-area: subtitle;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.list__title {
  grid-area: title;
  margin-top: 0.6rem;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.list__choice {
  grid-area: choice;
  justify-self: end;
  align-self: center;
}

.list__map {
  margin-top: 5rem;
  width: 100%;
}

.list__map-little {
  display: none;
}

.list__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 7rem 3rem;
  margin-top: 3rem;
}

.list__item {
  position: relative;
}

.list__item > img {
  width: 100%;
}

.list__item-type {
  font-family: inherit, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #1b974d;
  top: 1.7rem;
  right: 1.4rem;
  color: white;
  padding: 0.9rem 0;
  border-radius: 2em;
  width: 12.5rem;
}

.list__item-type > span {
  margin-left: 1rem;
}

.list__item-type > img {
  width: 1.5rem;
}

.list__item-inner {
  margin: 3rem 0 0 1.2rem;
}

.list__item-city {
  font-family: inherit, sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
}

.list__item-address {
  font-family: "Futura PT Book", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.4rem;
}

.list__item-price {
  font-family: inherit, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
}

.list__pagination {
  margin-top: 9rem;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: inherit, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pagination__left-arrow,
.pagination__right-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 3px 3px 5px 5px #f1eff8;
}

.pagination__left-arrow > img,
.pagination__right-arrow > img {
  width: 2.8rem;
}

.pagination__nums {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 5.5rem;
}

.pagination__num {
  margin: 0 0.5rem;
}

.about-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-block > img {
  width: 70rem;
}

.about-block__info {
  width: 55rem;
  padding-left: 3.6em;
}

.about-block__subtitle {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.about-block__title {
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 0;
  line-height: 1.1em;
  margin-top: 2rem;
}

.about-block__description {
  font-family: "Futura PT Book", sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  margin-top: 2rem;
  line-height: 1.3em;
}

.about-block__btn {
  margin-top: 4.5rem;
  font-size: 1.9rem;
}

.price-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.price-block__subtitle {
  font-family: inherit, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.price-block__title {
  font-family: inherit, sans-serif;
  font-size: 5.6rem;
  font-weight: 500;
}

.price-block__cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 6rem;
}

.price-block__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 39rem;
  height: 44rem;
  text-align: center;
  border-radius: 2em;
  padding-top: 3.8em;
  background-color: white;
}

.price-block__card:nth-child(2) {
  color: white;
  background: url(../img/comfort.svg);
  background-size: cover;
}

.price-block__card-title {
  font-family: inherit, sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
}

.price-block__card-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: inherit, sans-serif;
  font-size: 5rem;
  font-weight: 900;
  margin-top: 3rem;
  line-height: 0.8em;
}

.price-block__card-price:after {
  font-family: inherit, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  content: '₽';
  display: block;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.price-block__card-reg {
  font-family: inherit, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.8em;
}

.price-block__card-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Futura PT Book", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.4rem;
  line-height: 4rem;
}

.detox-info {
  width: 81%;
  margin: 0 auto;
}

.detox-info__title {
  font-family: inherit, sans-serif;
  font-size: 4.3rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.detox-info__text {
  font-family: "Futura PT Book", sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.2em;
  overflow: hidden;
  margin-top: 1rem;
}

.detox-info__subtitle {
  font-family: "Futura", sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  padding-top: 3.5rem;
  letter-spacing: 1px;
}

.detox-info ul {
  font-family: "Futura PT Book", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  list-style: disc;
  letter-spacing: -1px;
  margin-left: 1.8rem;
  margin-top: 0.9em;
}

.detox-info ul > li {
  letter-spacing: 0;
}

.detox-info ul > li:not(:first-child) {
  margin-top: 0.18rem;
}

.footer {
  font-family: "Futura PT Book", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  height: 70rem;
  margin-top: 24rem;
  padding-top: 31rem;
  background: url(../img/footer.svg) no-repeat left top;
  background-size: cover;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__logo {
  display: none;
  color: white;
  font-family: inherit, sans-serif;
  font-size: 2.7rem;
  font-weight: 500;
  width: 35rem;
}

.footer__logo .logo__subtitle {
  display: block;
}

.footer__request {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}

.footer__request-text > div:first-child {
  font-family: "Futura PT", sans-serif;
  font-size: 3.1rem;
  font-weight: 900;
}

.footer__request-text > div:nth-child(2) {
  margin-top: 0.9rem;
  color: #938ebc;
}

.footer__request-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__request-social > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #34305a;
  border-radius: 50%;
}

.footer__request-social > div:not(:first-child) {
  margin-left: 3.8rem;
}

.footer__request-social > div > img {
  width: 2.6rem;
}

.footer__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 9rem;
}

.footer__info-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 25rem;
}

.footer__info-title {
  font-family: inherit, sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  color: white;
  padding-bottom: 1rem;
}

.footer__info-title:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer__info-title:first-child > span {
  margin-left: 2rem;
}

.footer__info-item {
  font-family: inherit, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #938ebc;
}

.footer__info-item:not(:first-child) {
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Futura PT", sans-serif;
  font-size: 10px;
  font-weight: 500;
}

body {
  background: #fbfbfb ;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 69%;
  margin: 0 auto;
}

.container > .about-block {
  margin-top: 22.9rem;
}

.container > .price-block {
  margin-top: 27.4rem;
}

.container > .detox-info {
  margin-top: 22.6rem;
}

.btn-green {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.7rem;
  background-color: #1b974d;
  color: white;
  text-transform: uppercase;
  padding: 0.9em 1.3rem 0.9em 2.2rem;
  border-radius: 1.6em;
}

.btn-green__arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.9em;
  height: 1.9em;
  margin-left: 1.5em;
  background-color: white;
  color: #1b974d;
  border-radius: 50%;
}

.choice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 4em;
  padding: 2em 2.2em 2em 3em;
}

.choice > img:first-child {
  width: 2.6em;
  margin-right: 1.6em;
}

.choice > img:last-child {
  width: 2em;
}

.choice > span {
  font-size: 2.2em;
  background-color: white;
  color: #1b974d;
  margin-right: 3.6em;
}

@media (min-width: 769px) {
  .price-block__card:nth-child(2n+1) {
    background-color: white;
    width: 34rem;
    height: 39rem;
  }

  .price-block__card:nth-child(2) {
    padding-top: 6.6em;
  }
}

@media (max-width: 1750px) {
  html,
  body {
    font-size: 9px;
  }
}

@media (max-width: 1580px) {
  html,
  body {
    font-size: 8px;
  }
}

@media (max-width: 1380px) {
  html,
  body {
    font-size: 7px;
  }
}

@media (max-width: 1200px) {
  html,
  body {
    font-size: 6px;
  }
}

@media (max-width: 1050px) {
  html,
  body {
    font-size: 5px;
  }
}

@media (max-width: 900px) {
  html,
  body {
    font-size: 4px;
  }
}

@media (max-width: 768px) {
  #menu-common-icon,
  #phone-icon {
    display: block;
  }

  .logo__subtitle {
    display: none;
  }

  .header {
    padding: 1.8rem 2.5rem;
  }

  .header > label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header > nav {
    display: none;
    padding: 0;
  }

  .header__contacts {
    display: none;
  }

  .cloud {
    display: none;
  }

  .cloud-mob {
    display: block;
    width: 100%;
  }

  .header-section {
    margin-top: 6rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .header-section__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .header-section__block-subtitle {
    font-size: 2rem;
  }

  .header-section__block-title {
    font-size: 5.2rem;
    font-weight: 900;
    line-height: 0.95em;
  }

  .header-section__block-description {
    margin-top: 1.6rem;
    font-size: 2.6rem;
    line-height: 1.2em;
  }

  .header-section__block-btn {
    font-size: 2.1rem;
  }

  .mob-clinic {
    display: block;
  }

  .clinic {
    display: none;
  }

  .list {
    margin-top: 10.5rem;
  }

  .list__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .list__title {
    font-family: inherit, sans-serif;
    font-size: 4.6rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .list__choice {
    margin-right: 0;
    margin-top: 4.5rem;
    align-self: start;
    width: 100%;
  }

  .list__map {
    display: none;
  }

  .list__map-little {
    width: 100%;
    display: block;
    margin-top: 5.4rem;
  }

  .list__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 6.5rem;
  }

  .list__item {
    width: 100%;
  }

  .list__item-type {
    width: 20rem;
    font-family: inherit, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
  }

  .list__item-type > span {
    margin-left: 2rem;
  }

  .list__item-type > img {
    width: 2rem;
  }

  .list__item-city {
    font-family: inherit, sans-serif;
    font-size: 3rem;
    font-weight: 900;
  }

  .list__item-address {
    font-family: inherit, sans-serif;
    font-size: 3rem;
    font-weight: 500;
  }

  .list__item-price {
    font-family: inherit, sans-serif;
    font-size: 3rem;
    font-weight: 500;
  }

  .list__pagination {
    display: none;
  }

  .about-block {
    flex-direction: column;
  }

  .about-block > img {
    width: 100%;
  }

  .about-block__info {
    width: 100%;
    padding: 0;
    margin-top: 10.5em;
  }

  .about-block__subtitle {
    font-size: 2rem;
    letter-spacing: -1px;
  }

  .about-block__title {
    font-size: 4.6rem;
    margin-top: 1.7rem;
  }

  .about-block__description {
    margin-top: 2.5rem;
    font-size: 2.35rem;
    line-height: 1.2em;
  }

  .price-block__subtitle {
    font-family: inherit, sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .price-block__title {
    font-family: inherit, sans-serif;
    font-size: 4.4rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 0.1em;
  }

  .price-block__cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 5rem;
  }

  .price-block__card {
    font-family: inherit, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    border-radius: 4rem;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3.5rem 2.8rem 4rem 2.8rem;
    align-items: flex-start;
  }

  .price-block__card:not(:first-child) {
    margin-top: 4rem;
  }

  .price-block__card-title {
    font-family: inherit, sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
  }

  .price-block__card-price:after {
    font-family: inherit, sans-serif;
    font-size: 4rem;
    font-weight: 500;
  }

  .price-block__card-price {
    font-family: inherit, sans-serif;
    font-size: 6.5rem;
    font-weight: 500;
  }

  .price-block__card-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: inherit, sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
    text-align: left;
    line-height: 3.5rem;
  }

  .price-block__card-description > span {
    width: 30%;
  }

  .detox-info {
    width: 100%;
  }

  .detox-info__title {
    font-family: inherit, sans-serif;
    font-size: 4.7rem;
    font-weight: 500;
    line-height: 1.1em;
  }

  .detox-info__text {
    font-family: inherit, sans-serif;
    font-size: 2.54rem;
    font-weight: 500;
    line-height: 1.33em;
    margin-top: 1.4rem;
  }

  .detox-info__subtitle {
    font-family: inherit, sans-serif;
    font-size: 3.3rem;
    font-weight: 500;
    padding-top: 6rem;
  }

  .detox-info ul {
    font-family: inherit, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 1.2em;
    margin-left: 2.5rem;
    line-height: 1.54em;
  }

  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .footer__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .footer {
    background: url(../img/mob-footer.svg) no-repeat right top;
    background-size: cover;
    margin-top: 15rem;
    padding-top: 9rem;
  }

  .footer__request {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: 2;
    margin-top: 2rem;
  }

  .footer__request-text > div:nth-child(2) {
    margin-top: 0.3rem;
    font-family: inherit, sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
  }

  .footer__request-text {
    margin-top: 4.5rem;
  }

  .footer__request-social {
    order: -1;
  }

  .footer__request-social > div > img {
    width: 4.3rem;
  }

  .footer__request-social > div {
    padding: 2.5rem;
  }

  .footer__request-btn {
    margin-top: 2.3rem;
    font-family: inherit, sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 10rem;
  }

  .footer__info {
    margin-top: 6.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4rem;
  }

  .footer__info-column {
    width: 100%;
  }

  .footer__info-column:first-child {
    display: none;
  }

  .footer__info-column:nth-child(2n+1) {
    width: 55%;
    justify-self: end;
  }

  .footer__info-title {
    font-family: inherit, sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
  }

  .footer__info-item {
    font-family: inherit, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5em;
  }

  html,
  body {
    font-size: 13px;
  }

  .container {
    width: 91.5%;
    height: auto;
  }

  .container > .about-block {
    margin-top: 22rem;
  }

  .container > .price-block {
    margin-top: 36rem;
  }

  .container > .detox-info {
    margin-top: 21.5rem;
  }

  .btn-green {
    border-radius: 2em;
  }

  .choice {
    padding: 1.8em 2.2em 2em 2.6em;
  }

  .choice > img:first-child {
    width: 3em;
  }

  .choice > img:last-child {
    display: none;
  }

  .choice > span {
    font-size: 2.9em;
  }
}

@media (max-width: 712.5px) {
  html,
  body {
    font-size: 12px;
  }
}

@media (max-width: 637.5px) {
  html,
  body {
    font-size: 11px;
  }
}

@media (max-width: 562.5px) {
  html,
  body {
    font-size: 10px;
  }
}

@media (max-width: 525px) {
  html,
  body {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  html,
  body {
    font-size: 8px;
  }
}

@media (max-width: 412.5px) {
  html,
  body {
    font-size: 7px;
  }
}

@media (max-width: 375px) {
  html,
  body {
    font-size: 6px;
  }
}