@mob-top-padding: 1.8rem;

@header-font-size: 2.2rem;

#checkbox-menu, #logo-white-icon, #menu-white-icon, #menu-common-icon, #phone-icon {
  display: none;
}

#menu-common-icon, #phone-icon {
  width: 2em;
}

#menu-white-icon {
  width: 1.8em;
}

@media @mobile {
  #menu-common-icon, #phone-icon {
    display: block;
  }
}

.logo {
  .flex(@align: center);
  max-width: 14.5em;

  > img {
    .size(2.5em, 2.5em);
  }

  &__inner {
    margin-left: .8em;
  }

  &__title {
    .font(@family: 'Comfortaa', @size: 1.3em, @weight: 700);
  }

  &__subtitle {
    .font(@family: "Futura PT Book", @size: .83em, @weight: 300);
    line-height: 1em;
    margin-top: .2em;
    @media @mobile {
      display: none;
    }
  }
}

.header {
  .flex(@justify: space-between, @align: center);
  .font(@size: @header-font-size, @weight: 500);
  position: relative;
  padding: 1.1em 6.9%;
  color: @var-primary-color;

  a {
    color: @var-primary-color;
  }

  @media @mobile {
    padding: @mob-top-padding 2.5rem;
  }

  > label {
    @media @mobile {
      .flex();
    }
  }

  > nav {
    width: 100%;
    padding: 0 1.7em 0 1.9em;

    @media @mobile {
      display: none;
      padding: 0;
    }
  }

  &__items {
    .flex(@justify: space-between, @align: center);
    height: 100%;
    letter-spacing: -1px;
    margin: 0 5%;

    > li {
      &:first-child {
        display: none;
        position: relative;
        margin-top: 1em;

        > img {
          position: absolute;
          top: .6em;
          left: 1em;
          width: 1.4em;
        }

        > input {
          .font(@family: "Futura PT Book");
          background: #5f5988 url(../img/search-white.svg) no-repeat left 1em center;
          background-size: 1.4em;
          outline: none;
          border: none;
          color: white;
          padding: .6em 3.1em;
          border-radius: 2em;
          width: 100%;

          &:focus {
            padding-left: 2em;
            padding-right: 2em;
            background-image: none;
            &::placeholder {
              visibility: hidden;
              color: #a5a2bc;
            }
          }
        }
      }

      &:nth-child(5) {
        margin-right: 6.9em;
      }

      &:last-child {
        .flex(@align: center);

        > img {
          width: 1.3em;
        }

        > span {
          margin-left: 1em;
        }
      }
    }
  }

  &__contacts {
    white-space: nowrap;
    line-height: 1em;

    @media @mobile {
      display: none;
    }

    &-number {
      .font(@size: 1em, @weight: 900);
      letter-spacing: 0;
    }

    &-description {
      .font(@family: "Futura PT Book", @size: .8em);
    }
  }
}

#checkbox-menu:checked + header {
  .flex(@justify: center);
  background-color: #302a56;
  color: white;

  #logo-common-icon, #menu-common-icon, #phone-icon {
    display: none;
  }

  #logo-white-icon, #menu-white-icon {
    display: block;
  }

  #menu-white-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -.4em;
    margin: auto 0 auto 4rem;
  }

  > nav {
    .font(@family: "Futura PT Book", @weight: 400);
    display: block;
    position: absolute;
    background-color: #302a56;
    top: (@mob-top-padding * 2 + 2.5 * @header-font-size); // padding-top + padding-bottom + 2.5em (height of logo)
    left: 0;
  }

  .header__items {
    .flex(@direction: column);
    .font(@size: 1.4em);
    margin-top: .6em;

    > li {
      width: 100%;
      letter-spacing: 1px;

      &:first-child {
        display: block;
      }

      &:nth-child(2) {
        margin-top: 1.2em;
      }

      &:last-child {
        display: none;
      }
    }

    a {
      color: white;
      display: block;
      width: 100%;
      height: 100%;
      padding: .7em 0;
    }
  }
}