@import './mixins';
@import './fonts';
@import './vars';

@import './logo';
@import './header';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  .font(@family: "futura", @size: 10px, @weight: 500);

  @media (max-width: 1919px) {
    font-size: 9px;
  }

  @media (max-width: 1620px) {
    font-size: 8px;
  }

  @media (max-width: 1440px) {
    font-size: 7px;
  }

  @media (max-width: 1280px) {
    font-size: 6px;
  }

  @media (max-width: 1024px) {
    font-size: 5px;
  }

  @media (max-width: 768px) {
    font-size: 10px;
  }

  @media (max-width: 713px) {
    font-size: 9px;
  }

  @media (max-width: 676px) {
    font-size: 8px;
  }

  @media (max-width: 636px) {
    font-size: 7px;
  }

  @media (max-width: 487px) {
    font-size: 6px;
  }

  @media (max-width: 414px) {
    font-size: 5px;
  }

  @media (max-width: 334px) {
    font-size: 4px;
  }

  @media (max-width: 300px) {
    font-size: 3px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}