@import './mixins';
@import './fonts';
@import './vars';

@import './header';
@import './header-section';
@import './list';
@import './pagination';
@import './about-block';
@import './price-block';
@import './detox-info';
@import './footer';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  .font(@family: "Futura PT", @size: 10px, @weight: 500);

  @media (max-width: 1750px) {
    font-size: 9px;
  }
  @media (max-width: 1580px) {
    font-size: 8px;
  }
  @media (max-width: 1380px) {
    font-size: 7px;
  }
  @media (max-width: 1200px) {
    font-size: 6px;
  }
  @media (max-width: 1050px) {
    font-size: 5px;
  }
  @media (max-width: 900px) {
    font-size: 4px;
  }
  @media @mobile {
    font-size: 13px;
  }
  @media (max-width: 712.5px) {
    font-size: 12px;
  }
  @media (max-width: 637.5px) {
    font-size: 11px;
  }
  @media (max-width: 562.5px) {
    font-size: 10px;
  }
  @media (max-width: 525px) {
    font-size: 9px;
  }
  @media (max-width: 450px) {
    font-size: 8px;
  }
  @media (max-width: 412.5px) {
    font-size: 7px;
  }
  @media (max-width: 375px) {
    font-size: 6px;
  }
}

body {
  background: #fbfbfb/* url(./../img/background.svg) no-repeat top left -500px*/;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 69%;
  margin: 0 auto;

  @media @mobile {
    width: 91.5%;
    height: auto;
  }

  > .about-block {
    margin-top: 22.9rem;

    @media @mobile {
      margin-top: 22rem;
    }
  }

  > .price-block {
    margin-top: 27.4rem;

    @media @mobile {
      margin-top: 36rem;
    }
  }

  > .detox-info {
    margin-top: 22.6rem;

    @media @mobile {
      margin-top: 21.5rem;
    }
  }
}

.btn-green {
  .flex(@align: center);
  width: fit-content;
  font-size: 1.7rem;
  background-color: @var-third-color;
  color: white;
  text-transform: uppercase;
  padding: 0.9em 1.3rem 0.9em 2.2rem;
  border-radius: 1.6em;

  &__arrow {
    .flex(@justify: center, @align: center);
    .size(1.9em, 1.9em);
    margin-left: 1.5em;
    background-color: white;
    color: @var-third-color;
    border-radius: 50%;
  }

  @media @mobile {
    border-radius: 2em;
  }
}

.choice {
  .flex(@align: center);
  background-color: white;
  border-radius: 4em;
  padding: 2em 2.2em 2em 3em;

  @media @mobile {
    padding: 1.8em 2.2em 2em 2.6em;
  }

  > img:first-child {
    width: 2.6em;
    margin-right: 1.6em;
    @media @mobile {
      width: 3em;
    }
  }

  > img:last-child {
    width: 2em;

    @media @mobile {
      display: none;
    }
  }

  > span {
    font-size: 2.2em;
    background-color: white;
    color: @var-third-color;
    margin-right: 3.6em;

    @media @mobile {
      font-size: 2.9em;
    }
  }
}