.mob-clinic {
  display: none;
}

@media @mobile {
  .mob-clinic {
    display: block;
  }
  .clinic {
    display: none;
  }
}

.list {
  @media @mobile {
    margin-top: 10.5rem;
  }

  &__header {
    .font(@family: "Futura PT");
    display: grid;
    grid-template-areas:
  "subtitle choice"
  "title    choice";

    @media @mobile {
      .flex(@direction: column);
    }
  }

  &__subtitle {
    grid-area: subtitle;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &__title {
    grid-area: title;
    margin-top: 0.6rem;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -1px;
    @media @mobile {
      .font(@size: 4.6rem);
      letter-spacing: 1px;
    }
  }

  &__choice {
    grid-area: choice;
    justify-self: end;
    align-self: center;


    @media @mobile {
      margin-right: 0;
      margin-top: 4.5rem;
      align-self: start;
      width: 100%;
    }
  }

  &__map {
    margin-top: 5rem;
    width: 100%;

    &-little {
      display: none;
    }

    @media @mobile {
      display: none;

      &-little {
        width: 100%;
        display: block;
        margin-top: 5.4rem;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7rem 3rem;

    margin-top: 3rem;

    @media @mobile {
      .flex(@direction: column);
      margin-top: 6.5rem;
    }
  }

  &__item {
    position: relative;

    @media @mobile {
      width: 100%;
    }

    > img {
      width: 100%;
    }

    &-type {
      .font(@size: 1.7rem);
      .flex(@justify: center, @align: center);

      position: absolute;
      background-color: @var-third-color;
      top: 1.7rem;
      right: 1.4rem;
      color: white;
      padding: 0.9rem 0;
      border-radius: 2em;
      width: 12.5rem;

      @media @mobile {
        width: 20rem;
        .font(@size: 2.4rem);
      }

      > span {
        margin-left: 1rem;

        @media @mobile {
          margin-left: 2rem;
        }
      }

      > img {
        width: 1.5rem;

        @media @mobile {
          width: 2rem;
        }
      }
    }

    &-inner {
      margin: 3rem 0 0 1.2rem;
    }

    &-city {
      .font(@size: 2.4rem, @weight: 900);

      @media @mobile {
        .font(@size: 3rem, @weight: 900);
      }
    }

    &-address {
      .font(@family: "Futura PT Book", @size: 1.8rem);

      margin-top: 0.4rem;

      @media @mobile {
        .font(@size: 3rem);
      }
    }

    &-price {
      .font(@size: 1.8rem);
      margin-top: 1rem;

      @media @mobile {
        .font(@size: 3rem);
      }
    }
  }

  &__pagination {
    margin-top: 9rem;

    @media @mobile {
      display: none;
    }
  }
}