.logo {
  .flex(@align: center);

  > svg {
    width: 8rem;

    @media (max-width: 768px) {
      width: 6rem;
    }
  }

  > div {
    margin-left: 2rem;
  }

  &__title {
    .font(@family: 'Comfortaa', @size: 2.8rem, @weight: 700);
    text-shadow: 1px 1px 2px @var-primary-color;

    @media (max-width: 768px) {
      font-size: 4rem;
    }
  }

  &__subtitle {
    .font(@family: "Futura PT Book", @size: 1.8rem, @weight: 300);
    line-height: 1em;

    @media (max-width: 768px) {
      display: none;
    }
  }
}