<header>
    @@include('_logo.html')
    <nav>
        <ul>
            <li><a href="#">Клиники</a></li>
            <li><a href="#">Наркомания</a></li>
            <li><a href="#">Алкоголизм</a></li>
            <li><a href="#">Подросткам</a></li>
            <li><a href="#">Публикации</a></li>
            <li><a href="#">Контакты</a></li>
            <li>
                <a href="#">
                    <img src="./img/search.svg"/>
                    <span>Поиск</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="contacts">
        <span class="contacts__phone">8 (800) 636-54-12</span>
        <span class="contacts__note">Круглосуточно, анонимно</span>
    </div>
</header>